* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: lightgray;
  padding: 1rem 2rem;
  border-bottom: 1px solid gray;
}

.sidebar {
  width: 12rem;
  height: calc(100vh - 52px);
  border-right: 1px solid gray;
}

.ulSidebar {
  list-style: none;
  padding: 1rem 2rem;
}

.liSidebar {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.sidebarButton {
  background-color: tomato;
  width: 140px;
  height: 40px;
  border-radius: 10px;
}
.sidebarButtonSelected {
  background-color: red;
  width: 140px;
  height: 40px;
  border-radius: 10px;
}
